.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/api-docs
docker-compose.yml
tests
.phpunit.cache
*.sqlite
